@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif; 
}
/* header */
.main-logo {
  height: 6vh;
}
.right1{
    margin-left:45rem;
    margin-right: 5rem;
}
header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    transition: 0.6s;
    padding: 1rem 2rem;
    z-index: 100;
}
header.sticky{
    padding: 0.5rem 3rem;
    background-color: #000000;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    transform: 0.6s;
    padding-left: 2rem;
    display: flex;
    justify-self: center;
    align-self: center;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
    display: flex;
}
.right_m{
    margin-right: 3.5rem;
}
header ul li a{
    position: relative;
    margin: 0 2rem;
    text-decoration: none;
    color: black;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    font-weight: 500px;
    transition: 0.6sec;
}
header.sticky ul li a{
    color :#fff;
    font-size: 1.3rem;
}
header ul li a:hover{
    color:red;
}
header ul li a::after{
    text-decoration-line: underline; 
    height: 0.18rem;
    color: red;
}
/* sections */
.cover {
  position: relative;
  background-image: url(img/x.jpg);
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.cover h2 {
  text-align: center;
  margin-left: 32rem;
}
.change{
    margin-top: 1rem;
    margin-left: 32rem;
}
.spark{
    display: flex;
    margin-left: 2.5rem;
    height: 80vh;
}
.details{
    width: 50%;
    display: flex;
    margin-left: 21.5rem;
    align-items: center;
    overflow:hidden;
    margin-right: 2rem;
}
.custom_height p{
    border-left:4px solid black;
    font-size:1.5rem;
    text-align: justify;
    padding-left: 1rem;
    animation: slide-left 7s;
    height:auto;
}
@keyframes slide-left {
  from {
    margin-left: 50%;
    width: 90%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
span{
    font-weight: 600;
}
.img1{
    background-image: url(img/happy1.jpg);
    background-size: 100% 100%;
    width: 25%;
    height: 50%;
    border-radius: 100%;
    margin:2rem;
    position: absolute;
}
.img2{
    /* width: 20%; */
    position: relative;
    border-radius: 50%;
    left: 15rem;
    top: 15rem;
}

.contains{
    background-color:#404040;
    background-size: 100% 100%;
    height: auto;
    color: white;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.contains h2{
    padding-top: 2.5rem;
    color:#fff;
    font-weight: 600;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-bottom: 3rem;
}
.slide{
    width: 100%;
    height: 15rem;
    padding: 2rem;
    filter: grayscale(100%);
}
footer{
    text-align: center;
}
.footer__social{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
.footer__icon{
    font-size: 1.5rem;
    color: #000000;
    margin: 0 var(--mb-2)
}
/* About */
.abt_cover{
    background-color: #b0aaa6;
    height: 100vh;
    text-align: center;
}
.abt-img{
    margin-top: 8rem;
}
.abt-img img{
    display: flex;
    justify-content: center;
}
.abt_cover h4{
    margin-left: 12rem;
    margin-right: 12rem;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    line-height:2rem;
}
/* Contact */
.size{
    font-size:2.5rem;
    padding: 1rem;
}
/* Media queries */
@media screen and (max-width: 1300px){
    .spark{
        height: 45rem;
    }
    .details{
        margin-right: 2rem;
    }
}
@media screen and (max-width: 900px){
    .img1{
        display: none;
    }
    .img2{
        display: flex;
        justify-self: center;
        margin-left: -10rem;
    }
    .custom_height p{
        border-left:unset;
        font-size:1.5rem;
        text-align: center;
        padding-left: 1rem;
        animation: unset;
        height:auto;
    }
}
@media screen and (max-width: 830px){
    .contains{
        height: max-content;
    }
    .images{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cards{
        width:50%;
    }
    .slide{
        height: 20rem;
    }
    .abt_cover h4{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
@media screen and (max-width: 700px){
    header{
        justify-content: center;
    }
    .cover h2 {
        margin-left: unset;
        font-weight: 900;
      }
      .change{
          margin-left:unset;
      }
      .spark{
          height: 40rem;
      }
      .img2{
          display: none;
      }
      .details{
        width: 100%;
        margin-left: unset;
      }
      .custom_height p{
        text-align:center;
        padding-left: unset;}
}
@media screen and (max-width: 550px){
    header{
        display: flex;
        flex-wrap: wrap;
    }
    header ul li a{
        margin: 0 1rem;
    }
    .right_m{
        margin-right: 1rem;
    }
    .slide{
        width: 130%;
        height: 15rem;
    }
 } 
